<h1>Listing badge_types</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @badge_types.each do |badge_type| %>
  <tr>
    <td><%= link_to 'Show', badge_type %></td>
    <td><%= link_to 'Edit', edit_badge_type_path(badge_type) %></td>
    <td><%= link_to 'Destroy', badge_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Badge type', new_badge_type_path %>
